<!-- Local -->
<!--<script src="/js/autocomplete.js"></script> -->
<!-- despliegue -->
<script src="/progdoc/js/autocomplete.js"></script>
<%- include gestion.ejs %>
<table class="table" style="width:50%">
<tbody>
<% for(let i=0; i < pds.length; i++) { %> 
<tr>

  <% if (pds[i].nombre !== null) { %>
    <th><%=pds[i].nombre%></th>                 
  <% } else { %>
    <th> <%=pds[i].PlanEstudioId%></th>
  <% } %>

  <% if(pds[i].estadoProGDoc ===estadosProgDoc.cerrado) { %>
     <% switch(pds[i].semestre){
      case '1S' : %>
         <td>
         <select id="anoAcademico_<%=pds[i].PlanEstudioId%>" name="anoAcademico" class="form-control">
            <option value='<%=pds[i].anoAcademico%>'><%=pds[i].anoAcademico%></option>
         </select>
        </td>
        <td>
         <select id="semestre_<%=pds[i].PlanEstudioId%>" name="semestre" class="form-control">
            <option value='2S'>2S</option>
         </select>
        </td>
        <% break;

        case '2S' : %>
         <td>
         <select id="anoAcademico_<%=pds[i].PlanEstudioId%>" name="anoAcademico" class="form-control">
            <option value="<%=pds[i].siguienteAnoAcademico%>"><%=pds[i].siguienteAnoAcademico%></option>
         </select>
        </td>
        <td>
         <select id="semestre_<%=pds[i].PlanEstudioId%>" name="semestre" class="form-control">
            <option value='1S'>1S</option>
            <option value='I'>I</option>
         </select>
        </td>
        <% break;

      case 'I' : %>
         <td>
         <select id="anoAcademico_<%=pds[i].PlanEstudioId%>" name="anoAcademico" class="form-control">
            <option value="<%=pds[i].siguienteAnoAcademico%>"><%=pds[i].siguienteAnoAcademico%></option>
         </select>
        </td>
        <td>
         <select id="semestre_<%=pds[i].PlanEstudioId%>" name="semestre" class="form-control">
            <option value='I'>I</option>
            <option value='1S'>1S</option>
         </select>
        </td>
        <% break;
      case null : %>
        <td>
         <select id="anoAcademico_<%=pds[i].PlanEstudioId%>" name="anoAcademico" class="form-control">
            <option value='<%=anos[0]%>'><%=anos[0]%></option>
            <option value='<%=anos[1]%>'><%=anos[1]%></option>
         </select>
        </td>
        <td>
         <select id="semestre_<%=pds[i].PlanEstudioId%>" name="semestre" class="form-control">
            <option value='I'>I</option>
            <option value='1S'>1S</option>
            <option value='2S'>2S</option>
         </select>
        </td>
        <% break; 
    }%>      
    <td>
      <form id="plan_<%=pds[i].PlanEstudioId%>_gestionar" action="/hola" method="post">
      <input type="hidden" name="plan" value="<%=pds[i].PlanEstudioId%>">  

      <input type="hidden" id="ocultoanoAcademico_<%=pds[i].PlanEstudioId%>" name="anoAcademico" value="">
      <input type="hidden" id="ocultosemestre_<%=pds[i].PlanEstudioId%>" name="semestre" value="">        
      <button type="button" onclick="Abrir('plan_<%=pds[i].PlanEstudioId%>_gestionar', '<%=abrirpath%>')">Abrir</button>
      </form>
    </td>
  <% }  else if(pds[i].estadoProGDoc === estadosProgDoc.listo) { %>
    <input type="hidden" name="plan" value="<%=pds[i].PlanEstudioId%>"> 
    
    <td><%=pds[i].anoAcademico%></td>
    <td><%=pds[i].semestre%></td>
    <td>
      <form id="plan_<%=pds[i].PlanEstudioId%>_gestionar" action="/hola" method="post">
      <input type="hidden" name="plan" value="<%=pds[i].PlanEstudioId%>">
      <input type="hidden" name="pdIdentificador" value="pdIdentificador_<%=pds[i].identificador%>">   
      <button type="button" onclick="Cerrar('plan_<%=pds[i].PlanEstudioId%>_gestionar', <%=cerrarpath%>)">Cerrar</button>
      </form>
    </td>
  <% } else if(pds[i].estadoProGDoc === estadosProgDoc.abierto) { %>
    <input type="hidden" name="plan" value="<%=pds[i].PlanEstudioId%>"> 
    <input type="hidden" name="pdIdentificador" value="pdIdentificador_<%=pds[i].identificador%>"> 
    <td><%=pds[i].anoAcademico%></td>
    <td><%=pds[i].semestre%></td>
    <td>
      <form id="plan_<%=pds[i].PlanEstudioId%>_gestionar" action="/hola" method="post">
      <input type="hidden" name="plan" value="<%=pds[i].PlanEstudioId%>">
      <input type="hidden" name="pdIdentificador" value="pdIdentificador_<%=pds[i].identificador%>"> 
      <button type="button" onclick="Consultar('plan_<%=pds[i].PlanEstudioId%>_gestionar', <%=consultarpath%>)">Consultar</button>
      </form>
    </td>

  <% } %>
</tr>
<% } %>
</tbody>
</table>

<script>
function Abrir(formID,abrirPath){
  let form = document.getElementById(formID);
  let planEstudioId = formID.split("_")[1];
  let anoAcademico = document.getElementById("anoAcademico_"+planEstudioId).value;
  let semestre = document.getElementById("semestre_"+planEstudioId).value;
  let formSemestre = document.getElementById("ocultosemestre_"+planEstudioId);
  let formAnoAcademico = document.getElementById("ocultoanoAcademico_"+planEstudioId);
  formSemestre.value = semestre;
  formAnoAcademico.value = anoAcademico;
  if (confirm("¿Está seguro de que quiere abrir la programación docente de " +planEstudioId+ " para el año " +anoAcademico+ " y semestre " +semestre+ "? No podrá deshacer esta acción")){
    form.setAttribute('action', abrirPath);
    form.submit();
  }

}
</script>



      


    